<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="headphones" value="4"/>
		<add key="listenDevice" value="3"/>
		<add key="mic" value="1"/>
		<!--Syntax for TKey:
		// 1/0 -> true/false
		//possible modifier keys: LShiftKey, RShiftKey, LMenu, RMenu, LControlKey, RControlKey (6)
		// example: LShift+S-> 100000S-->
		<add key="100000A" value="C:/Users/Anton/Desktop/cnadycrushwavefrnots/bubble.wav" />
		<add key="100000Multiply" value="C:/Users/Anton/Desktop/Never Gonna Give You Up Original.wav" />
	</appSettings>

	<!--https://docs.microsoft.com/de-de/dotnet/framework/configure-apps/
		https://docs.microsoft.com/de-de/troubleshoot/dotnet/csharp/store-custom-information-config-file-->
</configuration>